<!-- FILTRO BÚSQUEDA  -->
<div class="d-flex">
    <svg *ngIf="!searcherVisible" (click)="toggleSearcher()" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray" class="bi bi-search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
    </svg>
    <div *ngIf="searcherVisible" class="position-relative w-100">
        <svg id="searcher-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
        <input (keyup.enter)="filterArticlesBySearcher($event)" maxlength="30" [defaultValue]="search" placeholder="Buscar por título" >
        <svg id="close-searcher-icon" (click)="toggleSearcher()" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="gray" class="bi bi-x" viewBox="0 0 16 16">
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
        </svg>
    </div>            
</div>
<!-- FILTRO CATEGORÍAS -->

<select (change)="filterArticles($event)" class="form-select mt-3 mb-2">
    <option selected (click)="showAllArticles()">Todos</option>
    <option  (click)="filterArticlesByCategory('Política')" >Política</option>                                
    <option  (click)="filterArticlesByCategory('Economía')" >Economía</option>
    <option (click)="filterArticlesByCategory('Medioambiente')" >Medioambiente</option>
    <option  (click)="filterArticlesByCategory('Deportes')" >Deportes</option>                        
    <option  (click)="filterArticlesByCategory('Vacaciones')" >Vacaciones</option>
</select>
