<div class="d-flex justify-content-between align-items-center gap-3">     
    <a class="nav-link category my-3" href="/blog" (click)="showAllArticles()">
        Todos
    </a>
    <a class="nav-link category  my-3" href="/categories/política" (click)="filterArticles('Política')">
        Política
    </a>
    <a class="nav-link category   my-3" href="/categories/deportes"  (click)="filterArticles('Deportes')">
        Deportes
    </a>
    <a class="nav-link category   my-3" href="/categories/economía"  (click)="filterArticles('Economía')">
        Economía
    </a>
    <a class="nav-link category   my-3" href="/categories/medioambiente"  (click)="filterArticles('Medioambiente')">
        Medioambiente
    </a>
    <a class="nav-link category   my-3" href="/categories/vacaciones"  (click)="filterArticles('Vacaciones')">
        Vacaciones
    </a>
</div>