<header> 
    <nav class="navbar navbar-expand-md fixed-top p-1" id="menu" appMenuScroll>        
        <div class="container-fluid">
            <button 
                class="navbar-toggler me-1" 
                type="button" 
                data-bs-toggle="modal" 
                data-bs-target="#collapsedMenu"              
                >
                <span> 
                    <fa-icon *ngIf="visibleScroll" [icon]="faBars"></fa-icon>                    
                </span>
            </button>
            <h3 class="navbar-brand">Blogpedia</h3>
            <div class="collapse navbar-collapse ms-5">
                <ul class="navbar-nav mb-0 gap-3 align-items-center">                            
                    <li class="nav-item">
                        <a class="nav-link link" routerLink="home">Inicio</a>
                    </li>                
                    <li class="nav-item">
                        <a class="nav-link link" routerLink="blog" >Blog</a>
                    </li>  
                    <li class="nav-item">
                        <a class="nav-link link" routerLink="create-article" >Crear artículo</a>
                    </li>
                                     
                </ul>                                    
            </div>                         
        </div>
             
    </nav>      
</header> 

<!-- MODAL COLLAPSED MENU -->

<div class="modal fade" id="collapsedMenu" tabindex="-1">    
    <div class="modal-dialog">
      <div class="modal-content">        
        <div class="modal-header d-flex justify-content-end me-3 mt-2">
            <fa-icon 
                [icon]="faX" 
                data-bs-toggle="modal" 
                data-bs-target="#collapsedMenu" >
            </fa-icon>            
        </div>        
        <div class="modal-body">            
            <ul id="nav-colapsado" class="navbar-nav">                            
                <li class="nav-item">
                    <a class="nav-link link" routerLink="home" data-bs-toggle="modal" 
                    data-bs-target="#collapsedMenu">Inicio </a>
                </li>                
                <li class="nav-item">
                    <a class="nav-link link" routerLink="blog" data-bs-toggle="modal" 
                    data-bs-target="#collapsedMenu">Blog</a>
                </li>  
                <li class="nav-item">
                    <a class="nav-link link" routerLink="create-article" data-bs-toggle="modal" 
                    data-bs-target="#collapsedMenu">Crear artículo</a>
                </li> 
            </ul>              
        </div>        
      </div>
    </div>
  </div>


