<div class=" my-4 container" style="padding: 0 7em">
    <app-nav-categories></app-nav-categories>
    <div class="d-flex flex-wrap justify-content-between" >
        <div class="card bg-dark text-white my-2" *ngFor="let article of articles">
            <a class="nav-link" href="/">
                <div class="image-container">
                    <img [src]="article.image" alt="Imagen artículo">
                </div>
                <div class="card-img-overlay">
                  <p class="card-text date">{{(article.created) | date: 'dd/MM/yyyy'}}</p>                  
                </div>
                <div class="position-absolute bottom-0 m-3">
                    <h4 class=" text-center card-text title">{{article.title}} </h4>
                </div>
            </a>
        </div>        
    </div>
</div>