.card {
    transition: transform 0.5s;
    width: 30%;
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.5s;
}
img {
    height: 23em;
    width: 100%;
    object-fit: fill;
}
.title {
    filter: drop-shadow(0 0 10px black);
}

.category:hover {
    color:rgb(114, 190, 190)
}