<div class=" my-4 container" style="padding: 0 7em">
    <div class="d-flex justify-content-between align-items-center gap-3">     
        <a class="nav-link category my-3" (click)="filterArticles()">
            Todos
        </a>
        <a class="nav-link category my-3" (click)="filterArticles()">
            Política
        </a>
        <a class="nav-link category  my-3" (click)="filterArticles()">
            Deportes
        </a>
        <a class="nav-link category  my-3" (click)="filterArticles()">
            Economía
        </a>
        <a class="nav-link category  my-3" (click)="filterArticles()">
            Medioambiente
        </a>
        <a class="nav-link category  my-3" (click)="filterArticles()">
            Vacaciones
        </a>
    </div>
    <div class="d-flex flex-wrap justify-content-between" >
        <div class="card bg-dark text-white my-2" *ngFor="let article of articles">
            <a class="nav-link" href="/">
                <img [src]="article.image" alt="Imagen artículo">
                <div class="card-img-overlay">
                  <p class="card-text date">{{(article.created) | date: 'dd/MM/yyyy'}}</p>                  
                </div>
                <div class="position-absolute bottom-0 m-3">
                    <h4 class=" text-center card-text title">{{article.title}} </h4>
                </div>
            </a>
        </div>        
    </div>
</div>